# Environment
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL=postgresql://paperclip@localhost:54329/docustract

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d
REFRESH_TOKEN_EXPIRES_IN=30d

# Appwrite
APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=69f5f9bd00031d01f43a
APPWRITE_SECRET=
APPWRITE_BUCKET_ID=documents